@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    background-color: var(--color-gray100);
    height: 56px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1000; /* 헤더가 맨위에 */
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

/* 화면 내릴 때 */
.nav-up {
    transform: translateY(-100%);
}

/* 화면 올릴 때 */
.nav-down {
    transform: translateY(0);
}

.headerLogo-wrap {
    margin: 11px 52px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#headerLogo {
    width: 96px;
    height: 34px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 60px; /* 메뉴 간 간격 */
}

.menu li {
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: var(--color-gray900);
    font-size: 19px;
    font-weight: var(--font-weight-regular);
}

.menu li a:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

/* 전체 드롭다운*/
.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-gray100);
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 0.1px solid var(--color-gray500);
    padding: 8px 16px; /* 메뉴 위 아래 간격 */
    transition: visibility 0.2s ease, opacity 0.2s ease;
}

/* 드롭다운 항목 스타일 */
.dropdown li {
    padding: 10px;
}

/* 피그마대로 하면 너무 큼 
.dropdown li + li {
    margin-top: 20px;
}
 */
 
.dropdown li a {
    color: var(--color-gray900);
    font-size: 16px;
    text-decoration: none !important;
    display: block;
    white-space: nowrap;
}

.dropdown li a:hover {
    background-color: var(--color-gray100);
    color: var(--color-primary);
}

/* 드롭다운 */
.menu li:hover > .dropdown,
.menu li:focus-within > .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
}

/* exhibition */
.sub-dropdown {
    margin: 0px 0px 0px 12px;
    list-style: "- ";
}

.sub-dropdown li {
    padding: 8px 0;	/* 위아래 여백 줄이기 */
    margin: 0;	/* margin 제거 */
    line-height: 1;	 /* 줄 간격도 줄이기 */
}

.sub-dropdown li + li {
    margin-top: 2px;	/* 항목 사이 간격 최소화 */
}

.login-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 52px;
    position: relative;
}

.headerSearch {
    height: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.sign-in-wrap {
    position: relative;
}

.sign-in {
    text-decoration: none;
    color: var(--color-gray900);
    font-size: 19px;
    font-weight: var(--font-weight-regular);
}

.sign-in:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.sign-in-wrap .dropdown {
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

/* sign-in-wrap 호버 시 드롭다운*/
.sign-in-wrap:hover .dropdown {
    visibility: visible;
    opacity: 1;
}
