@charset "UTF-8";
a {
  text-decoration: none;
  color: #333333;
}
input:focus {outline:none;}

body {
	background-color: #FBFCFC;
	width: 100%;
	height: 100%;
}

.container { 
	display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
}

#login {
	margin-top: 178px;	
	margin-bottom: 59px;
	color: var(--color-primery);
}

.login-input {
	display: flex;
	justify-content: space-between;
	width: 440px;
	height: 27px;
	margin-top: 11px;
	border-bottom: solid 1px var(--color-prime);
}
.login-input-text {
	font-size: 16px;
	width: 380px;
	border: none;
	background-color: #FBFCFC;
}

.input-image {
	width: 20px;
	height: 20px;
}

.need-write {
	color: #FBFCFC;
	font-size: 12px;
	margin-left: 35px;
}

#login-checks {
	margin-top: 6px;
}

.login-button {
	width: 440px;
	height: 50px;
	margin-top: 30px;
	background-color: #C0C5C7; 
	border: none;
	border-radius: 3px;
}

.active {
	background-color: #3333; /* 입력 시 변경될 색상 */
}

#login-button-text { 
	font-size: 21px;
	color: #FBFCFC;
}

#login-option {
	margin: 20px 0px 70px 0;
}

#sns-login {
	display: flex;
	justify-content: space-between;
	width: 192px;
	height: 40px;
	margin-top: 15px;
}
