@charset "UTF-8";

input{
	border : none;
	outline: none;
	background-color: var(--color-gray100);
	padding: 0;
}
#new-password-container {
	display: flex;
	justify-content: center;
	font-size: 0;
	background-color: #FBFCFC;
	width: 100%;
	height: 100%;
}

#new-password-wrapper {
	width: 440px;
	height: 416px;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
}

#user-icon-wrap {
	display: flex;
	justify-content: center;
}

#user-icon {
	width: 72px;
	height: 72px;
}

#h3-wrap {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 25px;
	
}

.h3-head {
	margin-top: 10px;
}

.input-div {
	margin-top: 27px;
	display: flex;
	width: 440px;
	height: 30px;
	border-bottom: solid 1px var(--color-black);
}

.input-text3 {
	margin-left: 62px;
	margin-top: 8px;
	font-size: var(--font-size-h7);
	width: 250px;
}

#complete-container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	background-color: rgba(0,0,0,.5);
	
}

#complete-wrap{
	display: flex;
	flex-direction: column;
	width: 640px;
	height: 375px;
	position: fixed; 
	top: calc(50% - 187px); 
	left: calc(50% - 320px);
	background-color: var(--color-gray100);
	border: solid 2px black;
	border-radius: 5px; 
}

#complete {
	display: none;
}

#complete-head {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 30px;
	border-bottom: solid 1px var(--color-black);
}

.big-icon {
	width : 56px;
	height: 56px;
}

.close-icon {
	width: 15px;
	height: 15px;
}

#complete-close-button {
	margin: 5px 5px 5px auto;
	width: 15px;
	height: 15px;
	border: none;
	background-color: var(--color-gray100);
}

#complete-body {
	width: 100%;
	height: 344px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.complete-icon {
	margin-top: 30px;
}

.complete-h2 {
	margin-top: 15px;
	margin-bottom: 40px;
}
.h6-wrap {
	display: flex;
	flex-direction: column; 
	align-items: center;
}
.complete-h6 {
	color: var(--color-gray900);
}

#id-button-wrap2 {
	width: 260px;
	height: 45px;
	margin-top: 40px;
}

.next-page-button2 {
	width: 120px;
	height: 45px;
	border: solid 1.5px var(--color-primary);
	border-radius: 3px;
	font-family: var(--font-family-Pretendard-Regular);
	font-size: var(--font-size-h5);
	font-weight: var(--font-weight-semibold);
	color: var(--color-primary);
	background-color: var(--color-gray100);
}

#login-button {
	margin-left: 20px;
	border: none;
	color: var(--color-gray100);
	background-color: var(--color-primary);
}

.user-text {
	font-size: var(--font-size-h5);
	color: var(--color-black);
	font-weight: var(--font-weight-semibold);
	padding-bottom: 6px;
}

.red-star {
	font-size: var(--font-size-h5);
	color: var(--color-primary);	
	font-weight: var(--font-weight-semibold);
}

.input-text5 {
	margin-left: 62px;
	font-size: var(--font-size-h7);
	width: 250px;
}
.input-text7 {
	margin-left: 26px;
	font-size: var(--font-size-h7);
	width: 250px;
}
.input-button {
	width: 125px;
	height: 35px;
	margin-left: auto;
	margin-bottom: 4px;
	border: none;
	border-radius: 2px;
	font-family: var(--font-family-Pretendard-Regular);
	font-size: var(--font-size-h7);
	background-color: var(--color-gray500);
	color: var(--color-gray100);
}

.eye-img {
	width: 16px;
	height: 11px;
	margin: auto 7px auto auto;
}

.warning-area {
	background-color: var(--color-gray100);
	width: 270px;
	height: 19px;
	margin-left: 153px;
}

.need-write{
	font-size: var(--font-size-h9);
	color: var(--color-warning);
}

#id-button-wrap {
	width: 440px;
	height: 50px;
	margin-top: 39px;
}

.next-page-button {
	width: 210px;
	height: 50px;
	border: solid 1.5px var(--color-primary);
	border-radius: 3px;
	font-family: var(--font-family-Pretendard-Regular);
	font-size: var(--font-size-h5);
	font-weight: var(--font-weight-semibold);
	color: var(--color-primary);
	background-color: var(--color-gray100);
}

#change-button {
	margin-left: 20px;
	border: none;
	color: var(--color-gray100);
	background-color: var(--color-primary);
}