@charset "UTF-8";

#complete-wrap{
	display: flex;
	flex-direction: column;
	width: 640px;
	height: 375px;
	position: fixed; 
	top: calc(50% - 187px); 
	left: calc(50% - 320px);
	background-color: var(--color-gray100);
	border: solid 2px black;
	border-radius: 5px; 
}

#complete {
	display: none;
}

.big-icon {
	width : 56px;
	height: 56px;
}

.close-icon {
	width: 15px;
	height: 15px
}

#complete-close-button {
	border: none;
	background-color: var(--color-gray100);
}