@charset "UTF-8";

#id-account-wrap{
	width: 600px;
	height: 398px;
	position: fixed; 
	top: calc(50% - 200px); 
	left: calc(50% - 300px);
	background:rgba(0,0,0,.5);
	background-color: var(--color-gray100);
	border: solid 1px black;
	border-radius: 5px; 
}

#id-account {
	display: none;
}

.big-icon {
	width : 56px;
	height: 56px;
}

.close-icon {
	width: 15px;
	height: 15px
}

#find-id-close-button {
	border: none;
	background-color: var(--color-gray100);
}