@charset "UTF-8";

/* 제출하시겠습니까? */
/* 배경 어둡게 */
.modal-bg {
    display: none;
	position: fixed;
    top: 60px;
    justify-content: center;
    align-items: center;
}

/* 모달 스타일 */
.modal {
    background: white;
    width: 320px;
    height: 164px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border: solid 1px red;
}

/* 제목 */
.modal-title {
    margin: 24px 0;
    display: flex;
    align-items: center; 
    justify-content: center;
   	flex-direction: column;
}
/* 물음표 아이콘 */
.question-icon {
	width: 32px;
	height: 32px;
	margin-bottom: 16px;
}

/* 하단 영역 */
.modal-footer {
    display: flex;
	justify-content: center;
}

/* 전송 버튼 */
.send {
	background: red;
    color: white;
	width: 60px;
	height: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 5px;
}
.cancel {
	background: white;
    color: red;
	width: 60px;
	height: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 5px; 
    border: solid 1px red;   	
}

#sendBtn.active {
    opacity: 1;
}




.modal-bg-no {
    display: none;
	position: fixed;
    top: 60px;
    justify-content: center;
    align-items: center;	
}

.modal-no {
    background: white;
    width: 320px;
    height: 164px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border: solid 1px red;	
}

.modal-title-no {
    margin: 24px 0;
    display: flex;
    align-items: center; 
    justify-content: center;
   	flex-direction: column;	
}

.attention-icon {
	width: 32px;
	height: 32px;
	margin-bottom: 16px;	
}

.modal-footer-no {
    display: flex;
	justify-content: center;	
}
.empty {
	background: red;
    color: white;
	width: 60px;
	height: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 5px;	
}





/* 제출완료 팝업 */
/* 전체 화면을 덮는 배경 */
.close-btn2 {
	width: 16px;
	height: 16px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 286px;
}
/* X 버튼 아래 구분선 */
.modal-ok::after {
    content: "";
    display: block;
    width: 600px;
    height: 1px;
    background: #ddd;
    position: relative;
    top: -345px;
    left: 0px;
}

/* 모달 스타일 */
.modal-ok {
    background: white;
    border-radius: 5px;
    width: 600px;
    height: 362px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* 화면에 고정 */
    top: 50%; /* 화면 중앙 */
    left: 50%; /* 화면 중앙 */
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
}

/* 모달 헤더 */
.ok-icon {
	width: 56px;
	height: 56px;
	color: red;
	margin-top: 30px;
}

/* 타이틀 */
.big-text {
    color: red;
    font-weight: bold;	
    font-size: 30px;
    margin-top: 20px;
}

/* 작은 글씨 */
.small-text1 {
    font-size: 18px;
    margin-top: 24px;
}
.small-text2 {
    color: gray;
    font-size: 14px;
    margin-top: 16px;
}

/* 버튼 스타일 */
.close-btn-ok {
	width:75px;
	height:35px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.modal-footer-ok {
	margin-top: 32px;	
	margin-bottom: 40px;	
}





/* 에러 메시지 */
.image-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: 200px;
    right: 200px;	
    display: none;
}
.title-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: 40px;
    right: 195px;
    display: none;
}
.author-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: 40px;
    right: 195px;
    display: none;
}
.category-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
	top: -216px;
    right: -104px;	
    display: none;
}

.material-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: 40px;
    right: 195px;
    display: none;
}
.size-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: 40px;
    right: 192px;	
    display: none;
}
.date-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: -65px;
    right: -104px;
    display: none;
}
.description-error {
    font-size: 12px;     
    color: var(--color-warning);       
    position: relative;
    top: -5px;
    right: 0px;	
    display: none;
}

