@charset "UTF-8";
body{
	font-size: 0;
	background-color: #FBFCFC;
	width: 100%;
	height: 100%;
}

.display-main{
	background-color: var(--color-gray100);
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.display-main .div{
	background-color: var(--color-gray100);
	overflow: hidden;
	width: 1920px;
	height: 3015px;
	position: relative;
}

.display-main .pagination-bar-long{
	display: inline-flex;
	align-items: center;
	gap: 40px;
	position: absolute;
	top: 2276px;
	left: 797px;
}

.display-main .img{
	position: relative;
	width: 20px;
	height: 20px;
}

.display-main .text-wrapper{
	color: var(--color-gray900);
	position: relative;
	width: fit-content;
	margin-top: -1.00px;
	font-family: "SUIT-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h4);
	font-align: center;
	letter-spacing: -0.4px;
	line-height: var(--line-height-h4);
	font-style: normal;
}
.display-main .text-wrapper-2{
	color: var(--color-primary);
	position: relative;
	width: fit-content;
	margin-top: -1.00px;
	font-family: "SUIT-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h4);
	font-align: center;
	letter-spacing: -0.4px;
	line-height: var(--line-height-h4);
	font-style: normal;
}
.display-main .text-wrapper-3{
	height: 37px;
	top: 141px;
	left: 910px;	
	color: var(--color-black);
	font-family: "SUIT-Regular";
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h1);
	letter-spacing: -0.4px;
	position: absolute;
	font-align: center;
	line-height: var(--line-height-h1);
	font-style: normal;
}

.display-main .group{
	position: absolute;
	width: 1160px;
	height: 1670px;
	top: 446px;
	left: 379px;
}

.display-main .overlap{
	position: absolute;
	width: 638px;
	height: 23px;
	top: 258px;
	left: 641px;
}

.display-main .navbar-wrapper{
	position: absolute;
	width: 638px;
	height: 23px;
	top: 0;
	left: 0;
}

.display-main .navbar{
	position: relative;
	width: 648px;
	height: 23px;
}

.display-main .text-wrapper-4{
	height: 19px;
	position: absolute;
	top: 0;
	left: 368px;
	color: var(--color-gray900);
	font-family: "Pretendard-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h7);
	font-style: normal;
	text-align: center;
	letter-spacing: -0.064px;
	line-height: var(--line-height-h7);
	white-space: nowrap;
}
.display-main .text-wrapper-5{
	height: 19px;
	position: absolute;
	top: 0;
	left: 126px;
	color: var(--color-gray900);
	font-family: "Pretendard-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h7);
	font-style: normal;
	text-align: center;
	letter-spacing: -0.064px;
	line-height: var(--line-height-h7);
	white-space: nowrap;
}
.display-main .text-wrapper-6{
	height: 19px;
	position: absolute;
	top: 0;
	left: 489px;
	color: var(--color-gray900);
	font-family: "Pretendard-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h7);
	font-style: normal;
	text-align: center;
	letter-spacing: -0.064px;
	line-height: var(--line-height-h7);
	white-space: nowrap;
}
.display-main .text-wrapper-7{
	height: 19px;
	position: absolute;
	top: 0;
	left: 610px;
	color: var(--color-gray900);
	font-family: "Pretendard-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h7);
	font-style: normal;
	text-align: center;
	letter-spacing: -0.064px;
	line-height: var(--line-height-h7);
	white-space: nowrap;
}
.display-main .text-wrapper-8{
	height: 19px;
	position: absolute;
	top: 0;
	left: 247px;
	color: var(--color-gray900);
	font-family: "Pretendard-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h7);
	font-style: normal;
	text-align: center;
	letter-spacing: -0.064px;
	line-height: var(--line-height-h7);
	white-space: nowrap;
}

.display-main .group2{
	position: absolute;
	width: 44px;
	height: 23px;
	top: 0;
	left: 0;
}

.display-main .text-wrapper-9{
	height: 19px;
	position: absolute;
	top: 0;
	left: 0;
	color: var(--color-gray900);
	font-family: "Pretendard-Regular";
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-h7);
	font-style: normal;
	text-align: center;
	letter-spacing: -0.064px;
	line-height: var(--line-height-h7);
	white-space: nowrap;
}

