@charset "UTF-8";
body{
	font-size: 0;
	background-color: #FBFCFC;
	width: 100%;
	height: 100%;
}

.join-container{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-text {
	font-size: var(--font-size-h4);
	color: var(--color-black);
}

.red-star {
	font-size: var(--font-size-h4);
	color: var(--color-primary);	
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label{
	display: block;
	width: 335px;
	height: 20px;
	background: url('../../images/join/checked_off.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label{
	background: url('../../images/join/checked_on.png') no-repeat 0 0px / contain;
}

.check-label-span{
	font-size: var(--font-size-h7);
	color : var(--color-gray500);
  	vertical-align: middle;
  	margin-left: 25px;
 	 width: 300px;
 }
 
 #join-button{
 	width: 760px;
 	height: 58px;
 	border : none;
 	border-radius: 3px;
 	font-size : var(--font-size-h4);
 	color: var(--color-gray100);
 }
 
.need-write{
	font-size: var(--font-size-h9);
	color: var(--color-warning);
}

.h5-text-black {
	font-size: var(--font-size-h5);	
 	color: var(--color-black);
}
#join-success-container{
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
	left: 0;
	background-color:rgba(0,0,0,.5);
}

#join-success-wrap{
	width: 450px;
	height: 273px;
	position: fixed; 
	top: calc(50% - 136px); 
	left: calc(50% - 225px);
	background-color: var(--color-gray100);
	border: solid 1px black;
	border-radius: 5px; 
}

#join-success {
	display: none;
}

.big-icon {
	width : 56px;
	height: 56px;
}

.close-icon {
	width: 15px;
	height: 15px
}

#join-success-close-button{
	background-color: var(--color-gray100);
}