@charset "UTF-8";
:root { 
  --black: #000000;
  --disabled-gray500: #c0c5c7;
  --main-gray100: #fbfcfc;
  --primary: #ee3333;
  --text-black: #333333;
  --text-gray900: #6e7476;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 19px;
  --font-size-xxl: 21px;
  --font-size-xxxl: 30px;
 
  --font-family-pretendard-light: "Pretendard-Light", Helvetica;
  --font-family-pretendard-regular: "Pretendard-Regular", Helvetica;
  --font-family-pretendard-semibold: "Pretendard-SemiBold", Helvetica;
  --font-family-suit-bold: "SUIT-Bold", Helvetica;
  --font-family-suit-regular: "SUIT-Regular", Helvetica;
}
.suith4 {
  font-family: var(--font-family-suit-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.suith1 {
  font-family: var(--font-family-suit-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.12px;
}

.suith2 {
  font-family: var(--font-family-suit-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.08px;
}

.pretendardh4 {
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.07px;
}

.pretendardh6 {
  font-family: var(--font-family-pretendard-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06px;
}

.pretendardh7 {
  font-family: var(--font-family-pretendard-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.06px;
}

.pretendard-semi-bold-mine-shaft-18px {
  color: var(--text-black);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.pretendard-semi-bold-cinnabar-18px {
  color: var(--primary);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.suit-regular-normal-sonic-silver-19px {
  color: var(--text-gray900);
  font-family: var(--font-family-suit-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.suit-regular-normal-sonic-silver-16px {
  color: var(--text-gray900);
  font-family: var(--font-family-suit-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
