@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://px.animaapp.com/67d6c6bae05083e2899b7066.67d6c6bbe05083e2899b7069.3gj2aad.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.suith4 {
  font-family: 'SUIT-Regular';
  font-size: var(--font-size-h7);
  font-style: normal;
  font-weight: var(font-weight-regular);
  letter-spacing: -0.4px;
}

.suith1 {
  font-family: 'SUIT-Bold';
  font-size: var(--font-size-h2);
  font-style: normal;
  font-weight: var(font-weight-bold);
  letter-spacing: -0.12px;
}

.suith2 {
  font-family: 'SUIT-Bold';
  font-size: var(--font-size-h3);
  font-style: normal;
  font-weight: var(font-weight-bold);
  letter-spacing: -0.08px;
}

.pretendardh4 {
  font-family: 'Pretendard-SemiBold';
  font-size: var(--font-size-h5);
  font-style: normal;
  font-weight: var(font-weight-semibold);
  letter-spacing: -0.07px;
}

.pretendardh6 {
  font-family: 'Pretendard-Regular';
  font-size: var(--font-size-h7);
  font-style: normal;
  font-weight: var(font-weight-regular);
  letter-spacing: -0.06px;
}

.pretendardh7 {
  font-family: 'Pretendard-Light';
  font-size: var(--font-size-h8);
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.06px;
}

.pretendard-semi-bold-mine-shaft-18px {
  color: var(--color-black);
  font-family: 'Pretendard-SemiBold';
  font-size: var(--font-size-h5);
  font-style: normal;
  font-weight: var(font-weight-semibold);
}

.pretendard-semi-bold-cinnabar-18px {
  color: var(--color-primary);
  font-family: 'Pretendard-SemiBold';
  font-size: var(--font-size-h5);
  font-style: normal;
  font-weight: var(font-weight-semibold);
}

.suit-regular-normal-sonic-silver-19px {
  color: var(--color-gray900);
  font-family: 'SUIT-Regular';
  font-size: var(--font-size-h4);
  font-style: normal;
  font-weight: var(font-weight-regular);
}

.suit-regular-normal-sonic-silver-16px {
  color: var(--color-gray900);
  font-family: 'SUIT-Regular';
  font-size: var(--font-size-h7);
  font-style: normal;
  font-weight: var(font-weight-regular);
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* screen - upcycleForm */

.upcycleForm {
  align-items: center;
  background-color: var(--main-gray100);
  display: flex;
  flex-direction: column;
  height: 1737px;
  width: 1920px;
}

.upcycleForm .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  min-height: 288px;
  width: 1920px;
}

.upcycleForm .header {
  align-items: center;
  background-color: var(--main-gray100);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-gray500);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 50px;
  height: 56px;
  justify-content: flex-start;
  padding: 7.7px 261px;
  width: 1920px;
}

.upcycleForm .icon {
  align-self: flex-end;
  height: 40px;
  margin-left: 48px;
  width: 102px;
}

.upcycleForm .overlap-group3 {
  height: 25px;
  margin-top: 1px;
  position: relative;
  width: 1198px;
}

.upcycleForm .navbar {
  align-items: flex-start;
  display: flex;
  height: 25px;
  left: 0;
  min-width: 1198px;
  position: absolute;
  top: 0;
}

.upcycleForm .navbar-link-display {
  min-width: 57px;
}

.upcycleForm .navbar-link-display:hover {
  color: var(--color-primary);
}

.upcycleForm .navbar-link-artist {
  margin-left: 60px;
  min-width: 42px;
}

.upcycleForm .navbar-link-artist:hover {
  color: var(--color-primary);
}

.upcycleForm .navbar-link-auction {
  margin-left: 60px;
  min-width: 59px;
}

.upcycleForm .navbar-link-auction:hover {
  color: var(--color-primary);
}

.upcycleForm .navbar-link-exhibition {
  margin-left: 60px;
  min-width: 77px;
}

.upcycleForm .navbar-link-exhibition:hover {
  color: var(--color-primary);
}

.upcycleForm .navbar-link-upcycle {
  margin-left: 60px;
  min-width: 60px;
}

.upcycleForm .navbar-link-upcycle:hover {
  color: var(--color-primary);
}

.upcycleForm .navbar-link-sign-in {
  align-self: flex-end;
  cursor: pointer;
  height: 24px;
  letter-spacing: -0.08px;
  line-height: normal;
  margin-left: 598px;
  min-width: 53px;
  text-align: center;
  transition: all 0.2s ease;
}

.upcycleForm .navbar-link-sign-in:hover {
  color: var(--color-primary);
}

.upcycleForm .icon-1 {
  height: 18px;
  left: 1062px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.upcycleForm .title {
  color: var(--color-black);
  font-weight: var(font-weight-bold);
  height: 37px;
  line-height: normal;
  margin-top: 88px;
  min-width: 102px;
  text-align: center;
}

.upcycleForm .registration {
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 36px;
  margin-left: 2px;
  margin-top: 71px;
  width: 1002px;
}

.upcycleForm .registration-1 {
  align-self: center;
  color: var(--color-primary);
  font-weight: var(font-weight-bold);
  height: 26px;
  line-height: normal;
  margin-left: -893px;
  text-align: center;
  width: 109px;
}

.upcycleForm .line-3 {
  height: 2px;
  width: 1000px;
}

.upcycleForm .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 118px;
  height: 545px;
  margin-left: 4px;
  margin-top: 50px;
  min-width: 1004px;
}

.upcycleForm .upload-image {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 515px;
  width: 482px;
}

.upcycleForm .image {
  align-items: flex-start;
  display: flex;
  height: 480px;
  min-width: 482px;
}

.upcycleForm .overlap-group {
  align-items: flex-end;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 480px;
  padding: 186px 183px;
  width: 480px;
}

.upcycleForm .add-four {
  align-self: center;
  height: 48px;
  width: 48px;
}

.upcycleForm .text-10 {
  color: var(--color-black);
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  min-width: 113px;
  white-space: nowrap;
}

.upcycleForm .text-11 {
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  margin-left: 128px;
  text-align: center;
  white-space: nowrap;
  width: 224px;
}

.upcycleForm .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  min-height: 520px;
  width: 404px;
}

.upcycleForm .serch-school {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 38px;
  width: 404px;
}

.upcycleForm .flex-row-1 {
  align-items: flex-end;
  display: flex;
  min-width: 400px;
}

.upcycleForm .text-3 {
  color: transparent;
  font-weight: var(font-weight-semibold);
  height: 18px;
  line-height: 24px;
  margin-bottom: 3px;
  white-space: nowrap;
  width: 58px;
}

.upcycleForm .span {
  letter-spacing: -0.01px;
}

.upcycleForm .x {
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 18px;
  margin-bottom: 3px;
  margin-left: 43px;
  white-space: nowrap;
  width: 169px;
}

.upcycleForm .x::placeholder {
  color: var(--color-gray900);
}

.upcycleForm .overlap-group-1 {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 2px;
  border: none;
  display: flex;
  height: 35px;
  margin-left: 13px;
  min-width: 117px;
  padding: 0 27px;
}

.upcycleForm .text-4 {
  color: var(--color-gray100);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  text-align: center;
  width: 63px;
}

.upcycleForm .line-10 {
  height: 1px;
  object-fit: cover;
  width: 400px;
}

.upcycleForm .search-address {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 46px;
  min-height: 29px;
  width: 404px;
}

.upcycleForm .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 29px;
  min-width: 392px;
}

.upcycleForm .text-5 {
  color: transparent;
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  min-width: 72px;
  white-space: nowrap;
}

.upcycleForm .x-1 {
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 23px;
  width: 291px;
}

.upcycleForm .x-1::placeholder {
  color: var(--color-gray900);
}

.upcycleForm .email {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 47px;
  min-height: 30px;
  width: 404px;
}

.upcycleForm .flex-row-3 {
  align-items: flex-end;
  display: flex;
  gap: 45px;
  min-width: 380px;
}

.upcycleForm .text {
  color: transparent;
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  min-width: 56px;
  white-space: nowrap;
}

.upcycleForm .x-2 {
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 19px;
  margin-bottom: 1px;
  width: 279px;
}

.upcycleForm .x-2::placeholder {
  color: var(--color-gray900);
}

.upcycleForm .phone {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 46px;
  min-height: 30px;
  width: 404px;
}

.upcycleForm .flex-row-4 {
  align-items: flex-end;
  display: flex;
  gap: 45px;
  min-width: 389px;
}

.upcycleForm .x-3 {
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 19px;
  margin-bottom: 1px;
  width: 288px;
}

.upcycleForm .x-3::placeholder {
  color: var(--color-gray900);
}

.upcycleForm .pickup-date {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 50px;
  min-height: 27px;
  width: 402px;
}

.upcycleForm .flex-row-5 {
  align-items: flex-start;
  display: flex;
  min-width: 258px;
}

.upcycleForm .pick-up-text {
  align-self: flex-end;
  display: flex;
  width: 93px;
}

.upcycleForm .group-616 {
  display: flex;
  width: 95px;
}

.upcycleForm .text-9 {
  color: transparent;
  font-weight: var(font-weight-semibold);
  height: 18px;
  line-height: 24px;
  white-space: nowrap;
  width: 93px;
}

.upcycleForm .mdi-lightcalendar {
  height: 20px;
  margin-left: 8px;
  width: 20px;
}

.upcycleForm .text-8 {
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  margin-left: 5px;
  white-space: nowrap;
}

.upcycleForm .select-product-number {
  align-items: flex-start;
  display: flex;
  gap: 138px;
  height: 128px;
  margin-top: 48px;
  min-width: 402px;
}

.upcycleForm .flex-col-2 {
  align-items: center;
  gap: 19px;
  min-height: 124px;
  width: 191px;
}

.upcycleForm .text-19 {
  color: transparent;
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  min-width: 191px;
  white-space: nowrap;
}

.upcycleForm .size-category {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 81px;
  margin-right: 16px;
  width: 151px;
}

.upcycleForm .x50cm {
  color: var(--color-black);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  white-space: nowrap;
  width: 111px;
}

.upcycleForm .x50cm--100cm {
  color: var(--color-black);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  white-space: nowrap;
  width: 145px;
}

.upcycleForm .x100cm {
  color: var(--color-black);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  white-space: nowrap;
  width: 118px;
}

.upcycleForm .product-number-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 88px;
  width: 75px;
}

.upcycleForm .product-number-large {
  align-items: center;
  display: flex;
  height: 26px;
  min-width: 75px;
}

.upcycleForm .flex-col-3 {
  align-items: flex-start;
  min-height: 26px;
  width: 57px;
}

.upcycleForm .text-1 {
  background-color: transparent;
  border: 0;
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 25px;
  line-height: normal;
  padding: 0;
  width: 50px;
}

.upcycleForm .text-1::placeholder {
  color: var(--color-gray900);
}

.upcycleForm .line-10-1 {
  height: 1px;
  margin-left: 2px;
  object-fit: cover;
  width: 55px;
}

.upcycleForm .text-20 {
  color: var(--color-black);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  margin-bottom: 1px;
  width: 14px;
}

.upcycleForm .product-number-middle {
  align-items: center;
  display: flex;
  height: 28px;
  margin-top: 3px;
  min-width: 75px;
}

.upcycleForm .flex-col-4 {
  align-items: flex-start;
  gap: 2px;
  min-height: 28px;
  width: 57px;
}

.upcycleForm .text-21 {
  color: var(--color-black);
  font-weight: var(font-weight-regular);
  height: 19px;
  line-height: normal;
  margin-top: 1px;
  width: 14px;
}

.upcycleForm .product-number-small {
  height: 25px;
  margin-top: 6px;
  position: relative;
  width: 75px;
}

.upcycleForm .overlap-group-2 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 59px;
}

.upcycleForm .line-109 {
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 55px;
}

.upcycleForm .text-2 {
  background-color: transparent;
  border: 0;
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 25px;
  left: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.upcycleForm .text-2::placeholder {
  color: var(--color-gray900);
}

.upcycleForm .text-22 {
  color: var(--color-black);
  font-weight: var(font-weight-regular);
  height: 19px;
  left: 57px;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 14px;
}

.upcycleForm .flex-col-5 {
  align-items: center;
  margin-top: 44px;
  min-height: 813px;
  width: 1920px;
}

.upcycleForm .material {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 612px;
  min-height: 55px;
  width: 412px;
}

.upcycleForm .text-12 {
  color: transparent;
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.upcycleForm .flex-row-6 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 3px;
  min-width: 391px;
}

.upcycleForm .text-13 {
  color: var(--color-black);
  font-weight: 300;
  height: 17px;
  line-height: normal;
  margin-left: 4px;
  min-width: 88px;
}

.upcycleForm .rectangle-40 {
  margin-left: 12px;
}

.upcycleForm .text-1-1 {
  color: var(--color-black);
  font-weight: 300;
  height: 17px;
  line-height: normal;
  margin-left: 4px;
  min-width: 25px;
}

.upcycleForm .text-16 {
  color: var(--color-black);
  font-weight: 300;
  height: 17px;
  line-height: normal;
  margin-left: 4px;
  min-width: 100px;
}

.upcycleForm .significant {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 602px;
  margin-top: 48px;
  min-height: 126px;
  width: 406px;
}

.upcycleForm .text-18 {
  color: var(--color-black);
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  margin-left: 3px;
  white-space: nowrap;
}

.upcycleForm .overlap-group2 {
  display: flex;
  align-items: flex-start;
  background-color: var(--color-gray100);
  border: 0.5px solid;
  border-color: var(--color-black);
  border-radius: 2px;
  display: flex;
  min-width: 402px;
  height: 91px;
}

.upcycleForm .x-4 {
  color: var(--color-gray500);
  font-weight: var(--font-weight-light);
  width: 400px;
  height: 90px;
  text-align: left;
  padding: 10px;
  line-height: 1.4;
}

.upcycleForm .x-4::placeholder {
  color: #c0c5c799;
  text-align: left;
}

.upcycleForm .confirm {
  display: flex;
  gap: 28px;
  margin-left: 720px;
  margin-top: 72px;
  width: 280px;
}

.upcycleForm .confirm-item {
  align-items: flex-start;
  display: flex;
  min-width: 127px;
}

.upcycleForm .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--color-gray100);
  border: 1.2px solid;
  border-color: var(--color-primary);
  border-radius: 2px;
  display: flex;
  height: 50px;
  min-width: 125px;
  padding: 10.8px 44.8px;
}

.upcycleForm .text-6 {
  color: var(--color-primary);
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  min-width: 32px;
  text-align: center;
  white-space: nowrap;
}

.upcycleForm .overlap-group1 {
  align-items: flex-start;
  background-color: var(--color-primary);
  border-radius: 2px;
  display: flex;
  height: 50px;
  min-width: 125px;
  padding: 12px 46px;
  border: none;
}

.upcycleForm .text-7 {
  color: var(--color-gray100);
  font-weight: var(font-weight-semibold);
  height: 24px;
  line-height: 24px;
  min-width: 32px;
  text-align: center;
  white-space: nowrap;
}

.upcycleForm .footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-shrink: 1;
  height: 280px;
  justify-content: center;
  margin-top: 182px;
  width: 1920px;
}

.upcycleForm .footer-layer {
  background-color: var(--color-gray100);
  border-color: var(--color-gray500);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 282px;
  width: 1922px;
}

.upcycleForm .footer-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 125px;
  margin-left: 772px;
  margin-top: 78px;
  width: 378px;
}

.upcycleForm .image-3 {
  height: 45px;
  margin-left: 78px;
  width: 220px;
}

.upcycleForm .address-14-samcheo {
  align-self: center;
  color: var(--color-gray900);
  font-weight: var(font-weight-regular);
  height: 40px;
  line-height: normal;
  margin-left: -2px;
  text-align: center;
  width: 376px;
}

.upcycleForm .span-1 {
  letter-spacing: -0.06px;
}

.upcycleForm .flex-col-6 {
  display: flex;
  flex-direction: column;
}

.upcycleForm .navbar-link {
  cursor: pointer;
  height: 24px;
  letter-spacing: -0.4px;
  line-height: normal;
  text-align: center;
  transition: all 0.2s ease;
}

.upcycleForm .rectangle {
  background-color: var(--color-gray100);
  border: 0.5px solid;
  border-color: var(--color-black);
  height: 12px;
  margin-bottom: 1px;
  width: 12px;
}

.upcycleForm .x-5 {
  background-color: transparent;
  border: 0;
  line-height: normal;
  padding: 0;
}