@font-face {
    font-family: 'Pretendard-Light';
    src: url('./Pretendard-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./Pretendard-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('./Pretendard-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
   unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('./Pretendard-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
   unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('./Pretendard-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
   unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
    font-family: 'SUIT-Bold';
    src: url('./SUIT-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
   unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('./SUIT-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
   unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

:root {
    /* Colors */
    --color-primary: #ee3333;
    --color-black: #333333;
    --color-gray100: #fbfcfc;
    --color-gray500: #C0C5C7;
    --color-gray900: #6E7476;
    --color-warning: #E49804;

    /* Font Sizes */
    --font-size-h1: 40px;
    --font-size-h2: 30px;
    --font-size-h3: 21px;
    --font-size-h4: 21px;
    --font-size-h5: 18px;
    --font-size-h6: 18px;
    --font-size-h7: 16px;
    --font-size-h8: 14px;
    --font-size-h9: 12px;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Line Heights */
    --line-height-h1: 50px;
    --line-height-h2: 42px;
    --line-height-h3: 24px;
    --line-height-h4: 28px;
    --line-height-h5: 26px;
    --line-height-h6: 22px;
    --line-height-h7: 15px;
    --line-height-h8: 10px;
    --line-height-h9: 7px;
}

/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SUIT-Regular", "Pretendard-Regular" ;
    color: var(--color-black);
    background-color: var(--color-gray100);
    line-height: 1.5;
    letter-spacing : -0.3px;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    font-weight: var(--font-weight-medium);
}


h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
    font-weight: var(--font-weight-semibold);
}

h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
    font-weight: var(--font-weight-medium);
}

h7 {
    font-size: var(--font-size-h7);
    line-height: var(--line-height-h7);
    font-weight: var(--font-weight-regular);
}

h8 {
    font-size: var(--font-size-h8);
    line-height: var(--line-height-h8);
    font-weight: var(--font-weight-light);
}

h9 {
    font-size: var(--font-size-h9);
    line-height: var(--line-height-h9);
    font-weight: var(--font-weight-light);
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
