@charset "UTF-8";

body {
	width : 100%;
	height : 100%;
	background-color: var(--color-gray100);
}

#wrapper {
	display : flex; 
	flex-direction : column;
	align-items: center; 
    justify-content: center;
}

#title-wrapper h2 {
	margin : 86px 0 0 0;
}

#category-wrapper {
	font-size : 16px;
	margin : 35px 0 0 0;
	display : flex;
	justify-content : center;
	align-items : center;
}

#category-wrapper span {
	color : var(--color-gray900);
	margin : 0 65px;
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	cursor : pointer;
}

#category-wrapper span:hover {
	color : var(--color-primary);
	text-decoration : underline 2px;
}

#map-wrapper {
	display : flex;
	justify-content : center;
	align-items : center;
	background-color : #c0c5c7;
	width : 1160px;
	height : 561px;
	margin : 87px 0 0 0;
}

/* #map-wrapper div {
	background-color : #c0c5c7;
	width : 1160px;
	height : 561px;
	margin : 87px 0 0 0;
	text-align : center;
	
}
 */
#list-wrapper {
	display : flex;
	gap : 105px;
	justify-content : center; 
	width : 1160px;
	margin : 0 auto;
}

#university-list {
	width : 492px;
	height : 479px;
	margin : 100px 0 0 0;
	font-size : 16px;
}

#bar {
	width : 492px;
	border-bottom : solid 1px var(--color-gray900);
	display : flex;
}

#bar-left {
	margin : 0 0 14px 0;
}

.bar-menu {
	margin : 0 36px 0 0;
}
/* 
i.fa-angle-down {
	font-size : 20px;
}
 */
 
 
#bar-right {
	margin : 0 0 0 38px;
}

#bar-right input {
	width : 184px;
	height : 29px;
	border : solid 1px #6e7476;
	border-radius : 3px;
}

#bar-right input::placeholder {
	padding : 0 0 0 12px;
	font-family: var(--font-family-Pretendard-Regular);
}

#list-content p {
	color : var(--color-gray900);
	font-size : 12px;
  	margin : 6px 0 0 0;
}

#exhibition-info {
	display : flex;
	margin : 13px 0 0 0;
}

#university-logo {
	width : 128px;
	height : 128px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray500);
	border-radius : 10px;
	display : flex;
	justify-content : center;
	align-items : center;
}

#university-info {
	margin : 0 0 0 28px;
}

.info1 {
	font-size : var(--font-size-h8);
	font-weight : var(--font-weight-light);
}

.info2 {
	font-size : var(--font-size-h9);
	font-weight : var(--font-weight-light);
	color : var(--color-gray900);
}

#img-background {
	width : 560px;
	height : 447px;
	background-color : #c0c5c7;
	border-radius : 10px;
	margin : 105px 0 0 0;
	display : flex;
	align-items : center;
	justify-content : center;
}

/* #img-background img {
	width : 461px;
	height : 446px;
} */

#button-wrapper {
	display : flex;
	gap : 16px;
	margin : 4px 0 0 0;
}

#button-comming {
	width : 196px;
	height : 28px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray900);
	border-radius : 3px;
	color : var(--color-gray900);
	font-family: var(--font-family-Pretendard-Regular);
}

#button-like {
	width : 88px;
	height : 28px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-primary);
	border-radius : 3px;
	color : var(--color-primary);
	font-family: var(--font-family-Pretendard-Regular);
}

#button-like i {
	margin : 0 0 0 2px;
}

#button-wrapper2 {
	margin : 100px 0 200px 0;
	display : flex;
	justify-content : center;
	gap : 80px;
}

.button {
	width : 300px;
	height : 60px;
	border-radius : 3px;
	cursor : pointer;
	font-size : 20px;
	border : solid 1.5px #ee3333;
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-h5);
}

.inquiry {
	background-color : #fbfcfc;
	color : #ee3333;
}

.register {
	background-color : #ee3333;
	color : #fbfcfc;
}
