@charset "UTF-8";

body {
	width : 100%;
	height : 100%;
	background-color: var(--color-gray100);
}

#wrapper {
	display : flex; 
	flex-direction : column;
	align-items: center; 
    justify-content: center;
}

#title-wrapper h2 {
	margin : 142px 0 0 0;
}

#category-wrapper {
	font-size : 16px;
	margin : 35px 0 0 0;
	display : flex;
	justify-content : center;
	align-items : center;
}

.category{
	color : var(--color-gray900);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	cursor : pointer;
}

#span {
	margin : 0 65px;
}

.second-category{
	color : var(--color-primary);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	cursor : pointer;
	border-bottom: solid 2px var(--color-primary);
}

.category:hover {
	color : var(--color-primary);
}


#map-wrapper {
	display : flex;
	justify-content : center;
	align-items : center;
	background-color : #c0c5c7;
	width : 1160px;
	height : 561px;
	margin : 87px 0 0 0;
}

/* #map-wrapper div {
	background-color : #c0c5c7;
	width : 1160px;
	height : 561px;
	margin : 87px 0 0 0;
	text-align : center;
}
 */
 
#container {
	display : flex;
	justify-content : space-between;
	gap : 108px;
}

#university-list-wrapper {
    height: 484px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    width : 492px;
    margin : 68px 0 0 0;
    display : flex;
    flex-direction : column;
    flex : 1;
}

select {
	text-align: center;
	border : none;
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	background-color : var(--color-gray100);
}

#bar-border {
	border-bottom : solid 1px var(--color-gray900);
	width : 492px;
}

#filter-wrapper {
	display : flex;
	gap : 32px;
	margin : 0 0 12px 0;
}

#search-input {
	width : 184px;
	height : 28px;
	border : solid 1px var(--color-gray900);
	border-radius : 3px;
	font-family: var(--font-family-Pretendard-Regular);
}

#search-input::placeholder {
	color : var(--color-gray500);
	font-size : var(--font-size-h9);
	font-weight : var(--font-weight-light);
	padding : 7px;
}


#icon1 {
  position: absolute;
  left: 160px; 
  top: 35%;
  transform: translateY(-50%); 
  width: 16px; 
  height: 16px; 
}


#icon-wrapper {
	display : flex;
	align-items : center;
	margin : 6px 0 0 0;
}

#icon2 {
	width : 16px;
	height : 16px;
	margin : 0 4px 0 0;
}

#notice {
	font-size : var(--font-size-h9);
	color : var(--color-gray900)
}


#display-none {
    visibility: hidden;
}

#display-none.show {
    visibility: visible;
}

#img-background {
	width : 560px;
	height : 447px;
	background-color : #c0c5c7;
	border-radius : 10px;
	margin : 105px 0 0 0;
	display : flex;
	justify-content : center;
}

#chevron-left, #chevron-right {
	width : 24px;
	height : 24px;
	margin : 191px 0 0 0;
	cursor : pointer;
}

#chevron-left {
	margin-right : 9px;
}

#chevron-right {
	margin-left : 9px;
}

#img-wrapper {
	width : 476px;
	height : 407px;
	background-color : var(--color-gray900);
	display : flex;
	justify-content : center;
}

#img-wrapper img {
	width : 438px;
	height : 407px;
	display : flex;
	align-items : center;
	justify-content : center; 
} 

#button-wrapper {
	display : flex;
	gap : 16px;
	margin : 4px 0 0 0;
}


/* .button-like.liked {
	color : var(--color-primary);
	background-color : var(--color-gray100);
} */
.like-btn.liked {
	color : var(--color-primary);
	background-color : var(--color-gray100);
}

.button-like i {
	margin : 0 0 0 2px;
}

#button-wrapper2 {
	margin : 100px 0 200px 0;
	display : flex;
	justify-content : center;
	gap : 80px;
}

.button {
	width : 300px;
	height : 60px;
	border-radius : 3px;
	cursor : pointer;
	font-size : 20px;
	border : solid 1.5px #ee3333;
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-semibold);
}

.inquiry {
	background-color : #fbfcfc;
	color : #ee3333;
}

.register {
	background-color : #ee3333;
	color : #fbfcfc;
}

.exhibition-wrapper {
	display : flex;
	gap : 28px;
	margin : 12px 0 0 0;
}

.logo-wrapper {
	width : 128px;
	height : 128px;
	border : solid 1px var(--color-gray500);
	display : flex;
	align-items : center;
	justify-content : center;  
	border-radius : 10px;
}

.exhibition-logo {
	width : 84px;
	height : 84px;
}

.exhibition-number {
	height : 21px;
}

.exhibition-number {
	font-size : var(--font-size-h8);
	margin : 2px 0;
	height : 17px;
}

.exhibition-major, .exhibition-date, .exhibition-location {
	font-size : var(--font-size-h9);
	color : var(--color-gray900);
	height : 14px;
}

.exhibition-major {
	margin : 0 0 8px 0;
}

.exhibition-date, .exhibition-location {
	margin : 0 0 4px 0;
}

.status-button {
	width : 196px;
	height : 28px;
	background-color : var(--color-gray100);
	border : solid 1.2px var(--color-gray900);
	color : var(--color-gray900);
	border-radius : 3px;
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h6);
	font-weight : var(--font-weight-medium);
}

.like-button {
	width : 88px;
	height : 28px;
	background-color : var(--color-gray100);
	border : solid 1.2px var(--color-primary);
	color : var(--color-primary);
	border-radius : 3px;
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
}


