@charset "UTF-8";

body {
	width : 100%;
	height : 100%;
	background-color: var(--color-gray100);
}

#wrapper {
	display : flex; 
	flex-direction : column;
	align-items: center; 
    justify-content: center;
}

#title-wrapper h2 {
	margin : 142px 0 0 0;
}

#category-wrapper {
	font-size : 16px;
	margin : 35px 0 0 0;
	display : flex;
	justify-content : center;
	align-items : center;
}

.category{
	color : var(--color-gray900);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	cursor : pointer;
}

#span {
	margin : 0 65px;
}

.second-category{
	color : var(--color-primary);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	cursor : pointer;
	border-bottom: solid 2px var(--color-primary);
}

.category:hover {
	color : var(--color-primary);
}


#map-wrapper {
	display : flex;
	justify-content : center;
	align-items : center;
	background-color : #c0c5c7;
	width : 1160px;
	height : 561px;
	margin : 87px 0 0 0;
}

/* #map-wrapper div {
	background-color : #c0c5c7;
	width : 1160px;
	height : 561px;
	margin : 87px 0 0 0;
	text-align : center;
	
}
 */
#list-wrapper {
	display : flex;
	gap : 105px;
	justify-content : center; 
	width : 1160px;
	margin : 0 auto;
}

#university-list {
	width : 492px;
	height : 479px;
	margin : 100px 0 0 0;
	font-size : 16px;
	flex : 1; 
}

#bar {
	width : 492px;
	border-bottom : solid 1px var(--color-gray900);
	display : flex;
}

#bar-left {
	margin : 0 0 16px 0;
	display : flex;
	gap : 16px;
}

.bar-menu {
	margin : 0 36px 0 0;
}

#university-list {
    height: 484px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
}

#scroll-wrapper {
	flex : 1;
}

select {
	background-color : var(--color-gray100);
	border : none;
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
	font-family: var(--font-family-Pretendard-Regular);
	color : var(--color-black);
}

#area-dropdown select, #state-dropdown select {
  text-align: center; 
}

#area-dropdown option, #area-dropdown option {
  text-align: center;
}

#my-pick {
	margin : 0 16px 0 0;
	width : 56px;
}

#bar-right {
  position: relative; 
}

#icon1 {
  position: absolute;
  left: 160px; 
  top: 35%;
  transform: translateY(-50%); 
  width: 16px; 
  height: 16px; 
}

#bar-right input {
	width : 184px;
	height : 29px;
	border : solid 1px #6e7476;
	border-radius : 3px;
	background-color : var(--color-gray100);
	color : var(--color-gray500);
	font-family: var(--font-family-Pretendard-Regular);
}

#bar-right input::placeholder {
	padding : 0 0 0 12px;
	font-size : var(--font-size-h9);
	font-weight : var(--font-weight-light);
}

#list-content p {
	color : var(--color-gray900);
	font-size : 12px;
  	margin : 6px 0 0 0;
  	height : 14px;
	display : flex;
	align-items : center;
}

#icon-wrapper {
	display : flex;
	align-items : center;
}

#icon2 {
	width : 16px;
	height : 16px;
	margin : 6px 4px 0 0;
	display : flex;
	align-items : center;
}

.exhibition-info {
	display : flex;
	margin : 13px 0 0 0;
}

#university-logo1, #university-logo2 {
	width : 128px;
	height : 128px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray500);
	border-radius : 10px;
	display : flex;
	justify-content : center;
	align-items : center;
}

.logo-img {
	width : 84px;
	height : 84px;
}


.university-info {
	margin : 0 0 0 28px;
}

.university-info h6 {
	height : 21px;
}

.info1 {
	font-size : var(--font-size-h8);
	font-weight : var(--font-weight-light);
	height : 17px;
	margin : 0 0 2px 0;
}

.info2 {
	font-size : var(--font-size-h9);
	font-weight : var(--font-weight-light);
	color : var(--color-gray900);
	height : 14px;
	margin : 0 0 4px 0;
}

.major {
	margin : 0 0 8px 0;
}

#display-none {
	display : none;
}

#img-background {
	width : 560px;
	height : 447px;
	background-color : #c0c5c7;
	border-radius : 10px;
	margin : 105px 0 0 0;
	display : flex;
	justify-content : center;
}

#img-wrapper {
	width : 476px;
	height : 407px;
	background-color : var(--color-gray900);
	display : flex;
	justify-content : center;
}

#img-wrapper img {
	width : 438px;
	height : 407px;
	display : flex;
	align-items : center;
	justify-content : center; 
} 

#button-wrapper {
	display : flex;
	gap : 16px;
	margin : 4px 0 0 0;
}

.button-comming {
	width : 196px;
	height : 28px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray900);
	border-radius : 3px;
	color : var(--color-gray900);
	font-family: var(--font-family-Pretendard-Regular);
}

.button-like {
	width : 88px;
	height : 28px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-primary);
	border-radius : 3px;
	color : var(--color-primary);
	font-family: var(--font-family-Pretendard-Regular);
}

.button-like.liked {
	color : var(--color-primary);
	background-color : var(--color-gray100);
}

.button-like i {
	margin : 0 0 0 2px;
}

#button-wrapper2 {
	margin : 100px 0 200px 0;
	display : flex;
	justify-content : center;
	gap : 80px;
}

.button {
	width : 300px;
	height : 60px;
	border-radius : 3px;
	cursor : pointer;
	font-size : 20px;
	border : solid 1.5px #ee3333;
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-semibold);
}

.inquiry {
	background-color : #fbfcfc;
	color : #ee3333;
}

.register {
	background-color : #ee3333;
	color : #fbfcfc;
}
