.screen a {
	display: contents;
	text-decoration: none;
}

.container-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center>* {
	flex-shrink: 0;
	pointer-events: auto;
}

* {
	box-sizing: border-box;
}

.mypage-post-content {
	display: flex;
	align-items: flex-start;
	background-color: var(--color-gray100);
	gap: 120px;
	height: 1521px;
	padding: 140.9px 372px;
	width: 1920px;
}

.mypage-post-content .view {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-left: 4px;
	margin-top: 1.06px;
	min-height: 700px;
	width: 244px;
}

.mypage-post-content .main-content {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 548px;
	width: 808px;
}

.mypage-post-content .title {
	color: var(--color-black);
	font-weight: 700;
	height: 36px;
	line-height: normal;
	margin-left: 1.0px;
	transform: rotate(-0.09deg);
	width: 329px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: var(--font-size-h2);
	line-height: var(--line-height-h2);
	font-weight: var(--font-weight-bold);
}

.mypage-post-content .notice {
	align-self: flex-end;
	color: var(--color-black);
	margin-right: 7px;
	margin-top: 29px;
	min-height: 14px;
	min-width: 190px;
	white-space: nowrap;
	font-size: var(--font-size-h9);
	line-height: var(--line-height-h9);
	font-weight: var(--font-weight-light);
}

.mypage-post-content .post-title-group {
	align-items: flex-start;
	background-color: var(--color-gray100);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--color-primary);
	border-top-style: solid;
	border-top-width: 1px;
	display: flex;
	gap: 492px;
	height: 100px;
	margin-top: 8px;
	min-width: 800px;
	padding: 36px 0;
}

.mypage-post-content .post-title {
	color: var(--color-black);
	margin-left: -1px;
	min-height: 25px;
	min-width: 251px;
	white-space: nowrap;
	font-size: var(--font-size-h3);
	line-height: var(--line-height-h3);
	font-weight: var(--font-weight-bold);
}

.mypage-post-content .post-date {
	align-self: center;
	color: var(--color-black);
	margin-bottom: 3.0px;
	min-height: 19px;
	min-width: 57px;
	white-space: nowrap;
	font-size: var(--font-size-h7);
	line-height: var(--line-height-h7);
	font-weight: var(--font-weight-regular);
}

.mypage-post-content .post-user-info-group {
	align-items: center;
	background-color: var(--color-primary);
	display: flex;
	height: 50px;
	margin-top: 25px;
	min-width: 800px;
	padding: 15px 10px;
	font-size: var(--font-size-h7);
	line-height: var(--line-height-h7);
	font-weight: var(--font-weight-regular);
}

.mypage-post-content .label-sender-name {
	color: var(--color-gray100);
	font-weight: 400;
	line-height: normal;
	min-height: 16px;
	text-align: center;
	white-space: nowrap;
	width: 56px;
}

.mypage-post-content .value-sender-name {
	color: var(--color-gray100);
	font-weight: 400;
	line-height: normal;
	margin-left: 17px;
	min-height: 16px;
	text-align: center;
	white-space: nowrap;
	width: 85px;
}

.mypage-post-content .label-email {
	align-self: flex-end;
	color: var(--color-gray100);
	font-weight: 400;
	line-height: normal;
	margin-left: 72px;
	min-height: 19px;
	min-width: 56px;
	text-align: center;
	white-space: nowrap;
}

.mypage-post-content .value-email {
	align-self: flex-end;
	color: var(--color-gray100);
	font-weight: 400;
	line-height: normal;
	margin-left: 17px;
	min-height: 19px;
	min-width: 190px;
	text-align: center;
	white-space: nowrap;
}

.mypage-post-content .post-body {
	color: var(--color-black);
	margin-top: 24px;
	min-height: 133px;
	width: 800px;
	font-size: var(--font-size-h7);
	line-height: 1.5;
	font-weight: var(--font-weight-regular);
}

.mypage-post-content .middle-buttons-container {
	align-self: flex-end;
	height: 46px;
	margin-right: 8px;
	margin-top: 83px;
	position: relative;
	width: 400px;
}

.mypage-post-content .middle-buttons {
	align-items: flex-start;
	display: flex;
	gap: 18px;
	height: 46px;
	left: 0;
	min-width: 400px;
	position: absolute;
	top: 0;
}

.mypage-post-content .button-list, .mypage-post-content .button-delete,
	.mypage-post-content .button-reply {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	min-width: 120px;
	font-size: var(--font-size-h5);
	font-weight: var(--font-weight-semibold);
	cursor: pointer;
	border-radius: 3px;
}

.mypage-post-content .button-list {
	background-color: var(--color-gray100);
	border: 1.5px solid var(--color-primary);
	color: var(--color-primary);
}

.mypage-post-content .button-delete, .mypage-post-content .button-reply
	{
	background-color: var(--color-primary);
	border: none;
	color: var(--color-gray100);
}