@charset "UTF-8";

.my-info {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 244px;
  position: relative;
  z-index: 1;
}

.my-profile {
  align-items: center;
  gap: 41px;
  min-width: 178px;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-image {
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}
#profileUpload {
  display: none;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profile-image input {
    display: none;
}

.user-name {
  top: 28px;
  left: 121px;
  font-family: 'Pretendard-Bold';
  font-style: normal;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  position: absolute;
  white-space: nowrap;
}

.infomation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 45px;
  min-height: 138px;
  width: 244px;
  border-bottom: solid 1.5px var(--color-gray900);
}

.section {
  color: var(--color-black);
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
  white-space: nowrap;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: var(--font-weight-semibold);
}

.update-infomation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
  min-height: 87px;
  width: 125px;
  font-size: var(--font-size-h7);
  line-height: var(--line-height-h7);
  font-weight: var(--font-weight-regular);
}

.sidebar-link {
  cursor: pointer;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  min-height: 19px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.sidebar-link:hover a {
  color: var(--color-primary);
  text-decoration: underline;
}
.sidebar-link a {
   text-decoration: none;    
  color: var(--color-black);  
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  transition: all 0.2s ease;
}

.my-perform {
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15px;
  min-height: 138px;
  width: 245px;
  border-bottom: solid 1.5px var(--color-gray900);
}

.perform {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
  min-height: 87px;
  width: 79px;
  font-size: var(--font-size-h7);
  line-height: var(--line-height-h7);
  font-weight: var(--font-weight-regular);
}

.view-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 15px;
  padding-bottom: 15px;
  min-height: 104px;
  width: 244px;
  border-bottom: solid 1.5px var(--color-gray900);
}

.view-item:last-of-type {
  border-bottom: none;
}


.history-auction-buy {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
  min-height: 53px;
  width: 64px;
}

.post-request {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
  min-height: 53px;
  width: 50px;
}

.sidebar-logout {
  color: var(--color-gray500);
  cursor: pointer;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  margin-left: 2px;
  margin-top: 28px; 
  min-height: 19px;
  transition: all 0.2s ease;
  white-space: nowrap;
  font-size: var(--font-size-h7);
  line-height: var(--line-height-h7);
  font-weight: var(--font-weight-regular);
  width: 244px;
  border-bottom: solid 1.5px var(--color-gray900);
  padding-bottom: 22px; 
}

.sidebar-logout a {
  text-decoration: none;
  color: var(--color-gray500);
}

.sidebar-logout a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
