@charset "UTF-8";

body {
	background-color: var(--color-gray100);
}

#container-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin : 142px 0 0 0;
}

#container {
	width: 1160px;
	display: flex;
	gap: 120px;
}

#category {
	width: 242px;
	height: 875px;
} 

#title {
	margin-bottom: 50px;
}

#like-type {
	display : flex;
	margin : 50px 0 0 0;
}

#like-exhibition {
	width : 400px;
	height : 50px;
	background-color : var(--color-gray500);
	border : solid 1px var(--color-gray500);
	display : flex;
	align-items : center;
	justify-content : center;
}

#like-art {
	width : 400px;
	height : 50px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray500);
	display : flex;
	align-items : center;
	justify-content : center; 
	font-family: var(--font-family-Pretendard-Regular);
}

.art-list {
	margin : 60px 0 0 0;
	display : flex;
	gap : 100px;
}

.art-list:last-child {
	margin-bottom : 200px;
}

.art {
	width : 200px;
	height : 200px;
	background-color : var(--color-gray500);
	display : flex;
	align-items : center;
	justify-content : center; 
}

.art-img {
	width : 154px;
	height : 200px;
	background-color : var(--color-gray900);
	display : flex;
	align-items : center;
	justify-content : center;  
	color : var(--color-gray100);
}

.like-count {
	color : var(--color-primary);
	width : 200px;
	display : flex;
	justify-content : flex-end;
	margin : 7px 0 0 0;
}

.exhibition-info {
	display : flex;
	margin : 50px 0 0 0;
}

#university-logo1, #university-logo2 {
	width : 157px;
	height : 157px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray500);
	border-radius : 10px;
	display : flex;
	justify-content : center;
	align-items : center;
}

.logo-img {
	width : 116px;
	height : 116px;
}


.university-info {
	margin : 0 0 0 28px;
}

.university-info h5 {
	height : 24px;
}

.info1 {
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-light);
	height : 17px;
	margin : 0 0 2px 0;
}

.info2 {
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-light);
	color : var(--color-gray900);
	height : 14px;
	margin : 0 0 4px 0;
}

.major {
	margin : 0 0 10px 0;
}

#display-none {
	display : none;
}

#img-background {
	width : 560px;
	height : 447px;
	background-color : #c0c5c7;
	border-radius : 10px;
	margin : 105px 0 0 0;
	display : flex;
	justify-content : center;
}

#img-wrapper {
	width : 476px;
	height : 407px;
	background-color : var(--color-gray900);
	display : flex;
	justify-content : center;
}

#img-wrapper img {
	width : 438px;
	height : 407px;
	display : flex;
	align-items : center;
	justify-content : center; 
} 

/* #button-wrapper {
	display : flex;
	margin : 4px 0 0 0;
} */

.button-comming {
	width : 175px;
	height : 29px;
	background-color : var(--color-gray100);
	border : solid 1px var(--color-gray900);
	border-radius : 3px;
	color : var(--color-gray900);
	font-family: var(--font-family-Pretendard-Regular);
}




