.container-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.screen {
  width: 1200px;
  padding: 80px 0;
}


.flex-row {
  display: flex;
  gap: 80px;
  margin-top: 90px;
}

.message-container {
  width: 100%;
}

.message-header {
  
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.message-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  padding-bottom: 30px;
}

.message-notice {

  font-size: var(--font-size-h9);
  color: var(--color-black);

}

.message-subject-row {
	
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-gray100);
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.message-subject {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

.message-date {
  font-size: var(--font-size-h7);
  color: var(--color-black);
}

.message-meta {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  padding: 16px;
  background-color: var(--color-primary);
  color: var(--color-gray100);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  white-space: nowrap;
}

.meta-label {
  margin-right: 20px;
}

.meta-value {
  margin-right: 100px;
}

.message-content {
  text-align: left;
  font-size: 16px;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: var(--color-gray100);
  line-height: 1.6;
  margin-top: 30px;
  min-height: 250px;
}


.message-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 40px;
}

.message-buttons button {
  width: 120px;
  height: 45px;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-semibold);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-buttons button:first-child,
.message-buttons button:nth-child(2){
  background-color: var(--color-gray100);
  border: 1.5px solid var(--color-primary);
  color: var(--color-primary);
}


.message-buttons button:nth-child(3) {
  background-color: var(--color-primary);
  color: var(--color-gray100);
}

.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  padding-top: 100px;
}

.popup-box {
  width: 390px;
  height: 190px;
  background-color: #fff;
  border: 1.5px solid var(--color-primary);
  border-radius: 8px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.popup-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.popup-message {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.popup-button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.popup-button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

.popup-button.cancel {
  background-color: #fff;
  color: var(--color-primary);
}

.popup-button.confirm {
  background-color: var(--color-primary);
  color: #fff;
}
