@charset "UTF-8";

body {
	background-color: var(--color-gray100);
}

input{
	border : none;
	outline: none;
	background-color: var(--color-gray100);
	padding: 0;
	font-size: var(--font-size-h7);
	width: 286px;
}

#change-password-container {
	display: flex;
	flex-direction: column; 
	align-items: center;
	font-size: 0px;
}

#change-password-container h2 {
	margin-bottom: 68px;
}

#change-password-wrapper {
	display: flex;
	flex-direction: column;
	width: 440px;
	height: 252px;
	margin-top: 208px;
	margin-bottom: 200px;
	align-items: center;
}
.input-div {
	display: flex;
	width: 440px;
	height: 26px;
	border-bottom: solid 1px var(--color-black);
}

.user-text {
	font-size: var(--font-size-h5);
	color: var(--color-black);
	font-weight: var(--font-weight-semibold);
	margin-top: -5px;
}

.red-star {
	font-size: var(--font-size-h5);
	color: var(--color-primary);	
	font-weight: var(--font-weight-semibold);
	margin-top: -5px;
}

.input-text {
	display: flex;
	border-bottom: solid 1px var(--color-gray900);
	width: 284px;
	height: 26px;
	margin-left: 28px;
	padding-bottom: 4px;
}

.eye-img {
	width: 16px;
	height: 11px;
	margin: auto 7px auto auto;
}

.warning-area {
	background-color: var(--color-gray100);
	width: 270px;
	height: 19px;
	margin-left: 138px;
	margin-bottom: 48px;
}

.big-button {
	width: 440px;
	height: 50px;
	border: none;
	border-radius: 2px;
	font-family: var(--font-family-Pretendard-Regular);
	font-size: var(--font-size-h5);
	font-weight: var(--font-weight-semibold);
	color: var(--color-gray100);
	background-color: var(--color-gray500);
}