@charset "UTF-8";

body {
	background-color: var(--color-gray100);
}

#container-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#content-wrap {
	width: 800px;
}

#container {
	width: 1160px;
	margin-top: 90px;
	display: flex;
	gap: 120px;
}

#category {
	width: 242px;
	height: 875px;
	background-color: var(--color-gray900);
	
}

#title {
	margin-bottom: 50px;
}

button {
	margin-top:70px;
}

/* #kind {
	display: flex;
	width: 680px;
	font-size: 
} */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    width: 335px;
    height: 20px;
    background: url('../../images/mypage/admin-faq-register/checked-gray.png') no-repeat left center / 20px 20px;
    padding: 0 0 0 20px;
    cursor: pointer;
}


input[type='checkbox']:checked+label{
   background: url('../../images/mypage/admin-faq-register/checked-red.png') no-repeat 0 0px / contain;
}

























