<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="art">

<!--작품 업로드 (전시중) -->
<insert id="insert" parameterType="ArtPostDTO">
       INSERT INTO TBL_ART (ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_DATE, ART_START_DATE, ART_END_DATE, USER_ID )           
       VALUES (
           SEQ_ART.NEXTVAL,
           #{artTitle},
           #{artCategory},
           #{artMaterial},
           #{artSize},
           #{artDescription},
           CURRENT_TIMESTAMP,
           CURRENT_TIMESTAMP, 
           NULL, 
           #{userId}
       )
</insert>
<select id="getLatestArtId" resultType="Long">
    SELECT ID 
    FROM TBL_ART 
    ORDER BY ART_DATE DESC
    FETCH FIRST 1 ROWS ONLY
</select>
<insert id="insertImg" parameterType="ArtPostDTO">
	INSERT INTO TBL_ART_IMG (ID, ART_IMG_NAME, ART_IMG_PATH, ART_ID)
	VALUES(
		   SEQ_ART_IMG.NEXTVAL, 
		   #{artImgName}, 
		   #{artImgPath}, 
		   #{artId}
		   )
</insert>

    
<!--작품 업로드 (전시예정) -->
<insert id="insertCommindSoon" parameterType="ArtVO">
       INSERT INTO TBL_ART (ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_DATE, ART_START_DATE, ART_END_DATE, USER_ID )           
       VALUES (
           SEQ_ART.NEXTVAL,
           #{artTitle},
           #{artCategory},
           #{artMaterial},
           #{artSize},
           #{artDescription},
           SYSDATE,
           SYSDATE,
           #{artEndDate},
           #{userId}
       )
</insert>

<!--작품 조회 (SELECT) -->
<select id="selectAll" resultType="ArtVO">
    SELECT ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_DATE, ART_START_DATE, ART_END_DATE, USER_ID
    FROM TBL_ART
</select>

<!-- 특정 작품 조회 (ID로) -->
<select id="selectById" parameterType="int" resultType="ArtVO">
    SELECT ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_DATE, ART_START_DATE, ART_END_DATE, USER_ID
    FROM TBL_ART
    WHERE ID = #{id}
</select>

<!--작품 좋아요-->
<insert id="insertArtLike" parameterType="ArtLikeVO">
    INSERT INTO TBL_ART_LIKE (ID, ART_ID, USER_ID, ART_LIKE_TIME)
    VALUES (
        SEQ_ART_LIKE.NEXTVAL,
        #{artId},
        #{userId},
        SYSDATE
    )
</insert>
    
<!--전시 필터링 (WHERE 조건 추가) -->







</mapper>
