<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auction">

	<insert id="insert" parameterType="AuctionVO">
		INSERT INTO TBL_AUCTION (ID, ART_ID, USER_ID, AUCTION_START_DATE, AUCTION_START_PRICE, AUUCTION_ESTIMATED_PRICE, AUCTION_ATRACTED, AUCTION_BID_PRICE, AUCTION_BID_DATE)
		VALUES (
			SEQ_AUCTION.NEXTVAL,
			#{artId},
			#{userId},
			#{auctionStartDate},	
			#{auctionStartPrice},	
			#{auctionEstimatedPrice},	
			#{auctionAttracted},	
			#{auctionBidPrice},	
			#{auctionBidDate}
		)
	</insert>

	<select id="selectId" parameterType="Long" resultType="AuctionDTO">
		SELECT ID
		FROM TBL_AUCTION
		WHERE ID = #{id}
	</select>
	
	<select id="selectAll" resultType="AuctionDTO">
		SELECT *
		FROM TBL_AUCTION TAU
		JOIN TBL_ART TAR
		ON TAU.ART_ID = TAR.ID
		JOIN TBL_ART_IMG TAI 
		ON TAI.ART_ID = TAR.ID
	</select> 

	<update id="update" parameterType="AuctionVO">
		UPDATE TBL_AUCTION
		SET AUCTION_START_DATE = #{auctionStartDate}, AUCTION_ESTIMATED_PRICE = #{auctionEstimatedPrice}, AUCTION_START_PRICE = #{auctionStartPrice}
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="Long">
		DELETE FROM TBL_AUCTION
		WHERE ID = #{id}
	</delete>
	
	
	
	<!-- 메일 -->
	
	<select id="selectMail" parameterType="Long" resultType="MailDTO">
		SELECT 
			TBS.USER_NAME, TBM.MAIL_TITLE, TBM.MAIL_CONTENTS, TBM.MAIL_SEND_TIME
		FROM TBL_MAIL TBM
		JOIN TBL_USER TBS
		ON TBM.SEND_USER_ID = TBS.ID
		JOIN TBL_USER TBR
		ON TBM.RECEIVE_USER_ID = TBR.ID
		WHERE TBS.ID = #{id}
	</select>
	
<!-- <insert id="insertMail" parameterType="MailDTO">
    INSERT INTO TBL_MAIL (ID, RECEIVE_USER_ID, MAIL_TITLE, MAIL_CONTENTS)
    VALUES (
        SEQ_MAIL.NEXTVAL, 
        #{receiveUserId}
        #{mailTitle},
        #{mailContents},
    )
</insert> -->

</mapper>