<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	<insert id="insert" parameterType="userVO">
		INSERT INTO TBL_USER (ID, USER_NAME, USER_EMAIL, USER_IDENTIFICATION, USER_PASSWORD, USER_PHONE, USER_NICKNAME, USER_SNS_OK, USER_MAIL_OK, USER_AGREEMENT_OK)
		VALUES (
			SEQ_USER.NEXTVAL,
			#{userName},
			#{userEmail},
			#{userIdentification},
			#{userPassword},
			#{userPhone},
			#{userNickname},
			#{userSnsOk},
			#{userMailOk},
			#{userAgreementOk}
		)
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(ID) 
  		FROM TBL_USER
		WHERE USER_IDENTIFICATION = #{userIdentification}
	</select>

	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(ID) 
  		FROM TBL_USER
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectIdByEmailAndName" parameterType="UserVO" resultType="String">
		SELECT USER_IDENTIFICATION
		FROM TBL_USER
		WHERE USER_EMAIL = #{userEmail} AND USER_NAME = #{userName}
	</select>
	
	<select id="selectByIdAndEmailAndName" parameterType="UserVO" resultType="int">
		SELECT COUNT(ID)
		FROM TBL_USER
		WHERE USER_IDENTIFICATION = #{userIdentification} AND USER_EMAIL = #{userEmail} AND USER_NAME = #{userName}
	</select>
	
	<select id="banCheck" parameterType="UserVO" resultType="int">
		SELECT USER_BAN_OK
		FROM TBL_USER
		WHERE USER_IDENTIFICATION = #{userIdentification}
		AND USER_PASSWORD = #{userPassword}
	</select>
	
	<select id="login" parameterType="UserVO" resultType="String">
		SELECT USER_EMAIL
		FROM TBL_USER
		WHERE USER_IDENTIFICATION = #{userIdentification}
		AND USER_PASSWORD = #{userPassword}
	</select>
	
	<update id="changePassword" parameterType="UserVO">
		UPDATE TBL_USER 
		SET USER_PASSWORD = #{userPassword}
		WHERE USER_IDENTIFICATION = #{userIdentification}
	</update>
	
	<select id="selectUserByEmail" parameterType="String" resultType="userVO">
		SELECT *
		FROM TBL_USER
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectMajorDTOByEmail" parameterType="String" resultType="MajorDTO">
		SELECT TU.ID, USER_NAME, USER_EMAIL, USER_IDENTIFICATION, USER_PASSWORD, USER_PHONE, USER_NICKNAME, USER_POSTAL_CODE, UNIVERSITY_NAME
		FROM TBL_USER TU
		JOIN TBL_MAJOR TM
		ON TU.MAJOR_ID = TM.ID
		JOIN TBL_UNIVERSITY TU
		ON TM.UNIVERSITY_ID = TU.ID
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<update id="updateUser" parameterType="UserVO">
		UPDATE TBL_USER 
		SET USER_NICKNAME = #{userNickname}, USER_NAME = #{userName}, USER_PHONE = #{userPhone}, USER_EMAIL = #{userEmail}, USER_ADDRESS = #{userAddress}, USER_DETAIL_ADDRESS = #{userDetailAddress}
		WHERE USER_IDENTIFICATION = #{userIdentification}
	</update>
	
	<select id="selectPassword" parameterType="String" resultType="String">
		SELECT USER_PASSWORD
		FROM TBL_USER
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<delete id="deleteUser" parameterType="String">
		DELETE TBL_USER
		WHERE USER_EMAIL = #{userEmail}
	</delete>
	
	<update id="updateUserUniversityStatus" parameterType="UserVO">
		UPDATE TBL_USER 
		SET 
			USER_UNIVERSITY_STATUS = #{userUniversityStatus},
			USER_MAJOR_IMG_NAME = #{userMajorImgName},
			USER_MAJOR_IMG_PATH = #{userMajorImgPath}
		WHERE USER_IDENTIFICATION = #{userIdentification}
	</update>
	
	<select id="selectQna" parameterType="String" resultType="QnaDTO">
		SELECT TQ.ID AS QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_TIME, QNA_IMG_NAME, QNA_IMG_PATH, QNA_CATEGORY, QNA_ANSWER_TITLE, QNA_ANSWER_CONTENT, QNA_ANSWER_TIME
		FROM TBL_USER TU
		JOIN TBL_QNA TQ
		ON TU.ID = TQ.USER_ID
		LEFT JOIN TBL_QNA_ANSWER TQA
		ON TQA.QNA_ID = TQ.ID 
		WHERE USER_EMAIL = #{userEmail}
		ORDER BY QNA_TIME
	</select>
	
	<select id="selectOneQna" parameterType="Long" resultType="QnaDTO">
		SELECT TQ.ID AS QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_TIME, QNA_IMG_NAME, QNA_IMG_PATH, QNA_CATEGORY, QNA_ANSWER_TITLE, QNA_ANSWER_CONTENT, QNA_ANSWER_TIME
		FROM TBL_USER TU
		JOIN TBL_QNA TQ
		ON TU.ID = TQ.USER_ID
		FULL OUTER JOIN TBL_QNA_ANSWER TQA
		ON TQA.QNA_ID = TQ.ID
		WHERE TQ.ID = #{qnaId}
	</select>
	
	<select id="selectQnaById" parameterType="Long" resultType="QnaVO">
		SELECT *
		FROM TBL_QNA
		WHERE ID = #{qnaId}
	</select>
	
	<insert id="insertQna" parameterType="QnaVO">
		INSERT INTO TBL_QNA
		VALUES (SEQ_QNA.NEXTVAL, #{qnaTitle}, #{qnaContent}, CURRENT_TIMESTAMP, #{qnaImgName}, #{qnaImgPath}, #{qnaCategory}, #{userId})
	</insert>
	
	<update id="updateQna" parameterType="QnaVO">
		UPDATE TBL_QNA 
		SET QNA_TITLE = #{qnaTitle}, QNA_CONTENT = #{qnaContent}, QNA_TIME = CURRENT_TIMESTAMP, QNA_IMG_NAME = #{qnaImgName}, QNA_IMG_PATH = #{qnaImgPath}, QNA_CATEGORY = #{qnaCategory}
		WHERE ID = #{id}
	</update>
	
	<delete id="deleteQna" parameterType="Long">
		DELETE FROM TBL_QNA
		WHERE ID = #{id}
	</delete>
	
	<select id="findEmailById" parameterType="long" resultType="string">
    	SELECT USER_EMAIL FROM TBL_USER WHERE ID = #{id}
	</select>
	
</mapper>
