<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
    <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
   
    <typeAliases>
    	<typeAlias type="com.app.vo.ArtImgVO" alias="ArtImgVO" />
    	<typeAlias type="com.app.vo.ArtLikeVO" alias="ArtLikeVO" />
    	<typeAlias type="com.app.vo.ArtPostVO" alias="ArtPostVO" />
    	<typeAlias type="com.app.vo.ArtVO" alias="ArtVO" />
    	<typeAlias type="com.app.vo.AuctionBiddingVO" alias="AuctionBiddingVO" />
    	<typeAlias type="com.app.vo.AuctionVO" alias="AuctionVO" />
    	<typeAlias type="com.app.vo.BanVO" alias="BanVO" />
    	<typeAlias type="com.app.vo.DeliveryVO" alias="DeliveryVO" />
    	<typeAlias type="com.app.vo.ExhibitionPastArtVO" alias="ExhibitionPastArtVO" />
    	<typeAlias type="com.app.vo.FaqVO" alias="FaqVO" />
    	<typeAlias type="com.app.vo.GradationExhibitionVO" alias="GradationExhibitionVO" />
    	<typeAlias type="com.app.vo.MailVO" alias="MailVO" />
    	<typeAlias type="com.app.vo.MajorVO" alias="MajorVO" />
    	<typeAlias type="com.app.vo.PaymentCancellationVO" alias="PaymentCancellationVO" />
    	<typeAlias type="com.app.vo.PaymentVO" alias="PaymentVO" />
    	<typeAlias type="com.app.vo.QnaAnswerVO" alias="QnaAnswerVO" />
    	<typeAlias type="com.app.vo.QnaVO" alias="QnaVO" />
    	<typeAlias type="com.app.vo.ReplyLikeVO" alias="ReplyLikeVO" />
    	<typeAlias type="com.app.vo.ReplyVO" alias="ReplyVO" />
    	<typeAlias type="com.app.vo.UniversityExhibitionImgVO" alias="UniversityExhibitionImgVO" />
    	<typeAlias type="com.app.vo.UniversityExhibitionVO" alias="UniversityExhibitionVO" />
    	<typeAlias type="com.app.vo.UniversityLikeVO" alias="UniversityLikeVO" />
    	<typeAlias type="com.app.vo.UniversityVO" alias="UniversityVO" />
    	<typeAlias type="com.app.vo.UpcycleVO" alias="UpcycleVO" />
    	<typeAlias type="com.app.vo.UserVO" alias="UserVO" />
    	
    	<typeAlias type="com.app.dto.ArtPostDTO" alias="ArtPostDTO" />
    	<typeAlias type="com.app.dto.AuctionDTO" alias="AuctionDTO" />
    	<typeAlias type="com.app.dto.BanDTO" alias="BanDTO" />
    	<typeAlias type="com.app.dto.DeliveryDTO" alias="DeliveryDTO" />
    	<typeAlias type="com.app.dto.DisplayMainDTO" alias="DisplayMainDTO" />
    	<typeAlias type="com.app.dto.ExhibitionPastDTO" alias="ExhibitionPastDTO" />
    	<typeAlias type="com.app.dto.GradationExhibitionDTO" alias="GradationExhibitionDTO" />
    	<typeAlias type="com.app.dto.MailDTO" alias="MailDTO" />
    	<typeAlias type="com.app.dto.MajorDTO" alias="MajorDTO" />
    	<typeAlias type="com.app.dto.MyPageMyPostDTO" alias="MyPageMyPostDTO" />
    	<typeAlias type="com.app.dto.QnaDTO" alias="QnaDTO" />
    	<typeAlias type="com.app.dto.UniversityDTO" alias="UniversityDTO" />
    	<typeAlias type="com.app.dto.UniversityExhibitionDTO" alias="UniversityExhibitionDTO" />
    	<typeAlias type="com.app.dto.UniversityLikeDTO" alias="UniversityLikeDTO" />
    	<typeAlias type="com.app.dto.UpcycleDTO" alias="UpcycleDTO" />
    	<typeAlias type="com.app.dto.ArtDTO" alias="ArtDTO" />
    </typeAliases>
   
   <environments default="oracle">
       <environment id="oracle">
          <transactionManager type="JDBC" />
          <dataSource type="POOLED">
             <property name="driver" value="oracle.jdbc.driver.OracleDriver"/> 
             <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/> 
             <property name="username" value="hr"/> 
             <property name="password" value="1234"/> 
          </dataSource>
       </environment>
    </environments>
    
    
    <mappers> 
    	<mapper resource="com/app/mybatis/mapper/adminMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/artistMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/artMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/auctionMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/exhibitionMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/mypageMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/upcyclingMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/userMapper.xml" />
    	<mapper resource="com/app/mybatis/mapper/mailMapper.xml" />
    </mappers>
    
    
    
 </configuration>