@charset "UTF-8";

* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

#main {
  	width: 100%;
  	height: 945px;
  	padding-top: 80px;
  	
  	background-image: url('../../images/main/main.png');
  	background-size: cover;
}

.swiper {
	width: 100%;
	overflow: hidden;
	margin-top: 176px;
}

.swiper-wrapper {
	display: flex;
}

/* 각각의 이미지 박스 (swiper-slide) */
.swiper-slide {
	width: 320px !important;
	height: 320px;
	background-color: var(--color-gray900);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-align: center; 
}

.swiper-slide img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	display: block;
	margin: auto; 
}

#main-text-wrap {
  	width: 100%;
  	margin-top: 100px;
  	text-align: center;
	opacity: 0; /* 투명도 */
  	transform: translateY(30px);
  	transition: opacity 2s ease, transform 2s ease;
}

#main-text-wrap.show {
	opacity: 1;
	transform: translateY(0);
}

#main-text {
  	font-size: var(--font-size-h1);
  	color: var(--color-gray900);
  	font-weight: var(--font-weight-bold);
}


/* auction  */
#auction-section {
	display: flex;
  	width: 100%;
  	margin-top: 288px;
  	align-items: center;
  	flex-direction: column;
}

#auction-title-wrap {
	display: flex;
	align-items: center;
	width: 1160px;
}



#line1 {
	width: 800px;
	border-bottom: solid 2px var(--color-black);
	margin-left: auto;
}

#auction-title, #art-title, #upcycling-title {
  	margin-bottom: 32px;
}

#auction-title:hover, 
#art-title:hover, 
#upcycling-title:hover {
	cursor: pointer;
  	font-size: 44px;
}

#auction-banner {
  	position: relative;
  	width: 1160px;
  	height: 500px;
}

#auction-text {
	color: var(--color-gray100);
	position: absolute;
	top: 284px;
	right: 36px;
}


#gradation-banner {
  	position: relative;
	display: flex;
	gap: 0px;
}

#line2 {
	width: 875px;
	border-bottom: solid 2px var(--color-black);
	margin-left: auto;
}

#gradation-text > #text1 {
	color: var(--color-gray100);
	position: absolute;
	left: 48px;
	bottom: 32px;
}

#gradation-text > #text2 {
	color: var(--color-gray100);
	position: absolute;
	left: 628px;
	bottom: 32px;
}

#line3 {
	width: 767px;
	border-bottom: solid 2px var(--color-black);
	margin-left: auto;
}

#upcycling-text > div{
	color: var(--color-gray100);
	position: absolute;
	left: 48px;
	bottom: 32px;
}










