@charset "UTF-8";

* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

#main {
  	width: 100%;
  	background-color: var(--color-gray500);
  	height: 945px;
  	padding-top: 80px;
}

.swiper {
	width: 100%;
	overflow: hidden;
	margin-top: 176px;
}

.swiper-wrapper {
	display: flex;
}

/* 각각의 이미지 박스 (swiper-slide) */
.swiper-slide {
	width: 320px !important;
	height: 320px;
	background-color: var(--color-gray900);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}


#main-text-wrap {
  	width: 100%;
  	margin-top: 100px;
  	text-align: center;
}

#main-text {
  	font-size: var(--font-size-h1);
  	color: var(--color-gray900);
  	font-weight: var(--font-weight-bold);
}
