@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.verticalSwiper {
  width: 100%;
  height: 100vh;
}

.verticalSwiper .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.verticalSwiper .swiper-slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


#main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background-image: url('../../images/main/main.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.mySwiper {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}

.mySwiper .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.mySwiper .swiper-slide {
  width: 320px;
  height: 320px;
  background-color: var(--color-gray900);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  flex-shrink: 0;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

#main-text-wrap {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s ease, transform 2s ease;
  z-index: 2;
}

#main-text {
  font-size: var(--font-size-h1);
  color: var(--color-gray900);
  font-weight: var(--font-weight-bold);
}


#auction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 60px 0;
  box-sizing: border-box;
}

#auction-title-wrap {
  display: flex;
  align-items: center;
  width: 1160px;
  margin-bottom: 32px;
}

#line1, #line2, #line3 {
  flex: 1;
  border-bottom: 2px solid var(--color-black);
  margin-left: auto;
}

#auction-title, #art-title, #upcycling-title {
  margin-right: 20px;
  font-size: 40px;
  transition: 0.3s;
}

#auction-title:hover, 
#art-title:hover, 
#upcycling-title:hover {
  cursor: pointer;
  font-size: 44px;
}

#auction-banner, #gradation-banner {
  position: relative;
  width: 1160px;
  height: 500px;
  display: flex;
  gap: 20px;
}

#auction-text, #gradation-text, #upcycling-text {
  color: var(--color-gray100);
  position: absolute;
  bottom: 32px;
  left: 48px;
}

#gradation-text > #text2 {
  left: 628px;
  position: absolute;
  bottom: 32px;
}



body {
  overflow-y: auto !important;
}
