@charset "UTF-8";

body {
	background-color: #FBFCFC;
}

#container {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    width: 100%; /* 너비를 최대로 설정 */
}

#content-wrap {
	display: flex;
}

#title {
	margin-top: 86px;
}

#modify {
	width : 1160px;
	border-bottom: solid 2px var(--color-primary);
	margin-bottom: 50px;
}

#modify > h2 {
	color: var(--color-primary);
	margin-bottom: 7px;
}

#image-wrap {
	background-color: var(--color-gray500);
	width: 560px;
	height: 560px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 120px;
}

#auction-info1 {
	width: 480px;
}

.input-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.star {
	color: var(--color-primary);
}

.input-text {
	text-align: right;
	color: var(--color-gray900);
	font-size: var(--font-size-h4);
	background: none;
	border: none;
	outline: none;
}

.input-box-wrap {
	width: 480px;
	margin-bottom: 48px;
	border-bottom: solid 1px var(--color-gray900);
}

.input-box-wrap > .input-box {
	margin-bottom: 7px;
}

#art-artname {
	display: flex;
}








