/* 경매 결제 */
@charset "UTF-8";

body {
	width : 100%;
	height : 100%;
	background-color: #fbfcfc;
}

#wrapper {
	display : flex; 
	flex-direction : column;
	align-items: center; 
    justify-content: center;
}

#title-wrapper h2 {
	margin : 142px 0 0 0;
}

#payment-form {
	display : flex;
	gap : 120px;
	margin : 70px 0 0 0;
}

#img-wrapper {
	display : flex;
	justify-content : center;
	align-items : center;
	width : 560px;
	height : 560px;
	background-color : #d9d9d9;
}

#auction-img {
	width : 420px;
	height : 420px;
	background-color : #c0c5c7;
	display : flex;
	justify-content : center;
	align-items : center;
}

#price {
	display : flex;
	margin : 39px 0 0 0;
}

#price span {
	margin : 0 4px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label{
	display: flex; 
	align-items : center;
	width: 335px;
	height: 20px;
	background: url('../../images/auction/checked1.png') no-repeat 0 0px / contain;
	 cursor: pointer;
}

input[type='checkbox']:checked+label{
	background: url('../../images/auction/checked2.png') no-repeat 0 0px / contain;
}

.check-label-span{
	font-size: var(--font-size-h7);
	color : var(--color-gray500);
  	vertical-align: middle;
  	margin-left: 25px;
 	width: 300px;
 }
 
.checkbox-label:last-child {
	margin : 12px 0 0 0;
}

/* 버튼 - 비활성화 */
#payment-button {
	width : 190px;
	height : 50px;
	background-color : var(--color-gray500);
	border : solid 1.5px var(--color-gray500);
	border-radius : 3px;
	margin : 32px 0 0 650px;
	color : var(--color-gray100);
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-bold);
	font-family: var(--font-family-Pretendard-Regular);
	
}

/* 버튼 - 활성화 */
#payment-button.active {
    background-color: var(--color-primary);
    border : solid 1.5px var(--color-primary);
    cursor: pointer;
}

#auction-list {
   height : 269px;
   margin : 20px 0 38px 0;
}

#auction-ing {
	border-bottom : solid 1px var(--color-gray500);
	width : 1920px;
	display : flex;
	justify-content : center; 
}

#auction-ing-title {
	margin : 0 0 10px 0;
	width : 1160px;
}

.art-list {
   width : 200px;
   height : 200px;
   background-color : var(--color-gray500);
   display : flex;
   align-items : center;
   justify-content : center;
   margin : 0 0 38px 0;
}

#art-wrapper {
	display : flex;
   	align-items : center;
   	justify-content : center;
	gap : 120px;
	margin : 38px 0 ;
}

#name-error, #address-error, #detail-address-error, #phone-error, #email-error {
	display : none;
	font-size : var(--font-size-h9);
	font-weight : var(--font-weight-light);
}


p.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    visibility: hidden; /* 기본적으로 안 보이지만 자리 차지 */
    height: 14px; /* 메시지가 없을 때도 일정 높이 유지 */
}
p.error-message.active {
    visibility: visible; /* 오류 발생 시 보이게 설정 */
}







#input-form {
	margin : 0 0 20px 0;
}

.input-wrapper {
	border-bottom : solid 1px var(--color-gray900);
	width : 480px;
	margin : 39px 0 0 0;
	display : flex;
}

#input-button-wrapper {
	border-bottom : solid 1px var(--color-gray900);
	width : 480px;
	margin : 39px 0 0 0;
	display : flex;
	align-items : center;
	justify-content : space-between;
}

#search-address {
	width : 125px;
	height : 35px;
	background-color : var(--color-primary);
	border : solid 1px var(--color-primary);
	border-radius : 2px;
	color : var(--color-gray100);
	font-family: var(--font-family-Pretendard-Regular);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-light);
	margin : 0 0 4px 0;
}

.input-text {
	display : flex;
	gap : 67px;
	margin : 0 0 7px 0;
	height : 28px;
}

.star {
	color : var(--color-primary);
}

input {
	border : none;
	outline : none;
	font-family: var(--font-family-Pretendard-Regular);
	width : 240px;
	background-color : var(--color-gray100);
}

input::placeholder {
	font-size : var(--font-size-h7);
}

.input-text2 {
	display : flex;
	gap : 32px;
	margin : 0 0 7px 0;
	height : 28px;
}

.input-text3 {
	display : flex;
	gap : 36px;
	margin : 0 0 7px 0;
	height : 28px;
}

.input-text4 {
	display : flex;
	gap : 50px;
	margin : 0 0 7px 0;
	height : 28px;
}

#overlay {
   display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 116, 118, 0.3);
    z-index: 999; 
}

#popup-wrapper {
   position : fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    display : none;
    z-index: 1000;
}



