/* 경매 상세 css */
@charset "UTF-8";

body {
	width : 100%;
	height : 100%;
	background-color: #fbfcfc;
}

#wrapper {
	display : flex; 
	flex-direction : column;
	align-items: center; 
    justify-content: center;
}

#title-wrapper h2 {
	margin : 142px 0 0 0;
}

#auction-detail {
	width : 1160px;
	margin : 70px auto 94px ;
	gap : 120px;
}

#auction-img {
	display : flex;
	justify-content : center;
	align-items : center;
	width : 560px;
	height : 560px;
	background-color : #d9d9d9;
}

.img {
	width : 420px;
	height : 560px;
	display : flex;
	justify-content : center;
	align-items : center;
}

.img p {
	font-weight : bold;
	font-size : 20px;
}

#auction-detail {
	display : flex;
}

#auction-info1 {
	border-bottom : solid 1px #c0c5c7;
	width : 480px;
	padding : 0 0 20px 0;
}

#title-wrapper2 {
	display : flex;
	gap : 37px;
}

#button-modify {
	margin : 0 20px 0 0;
}

.title {
	font-size : 30px;
}

.artist {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin : 22px 0 0 0;
}

.artist span {
	font-size : 21px;
}

.etc {
	margin : 19px 0 0 0;
}

.etc p{
	color : #6e7476;
	font-size : var(--font-size-h8);
	margin : 6px 0 0 0;
}

.info {
	display : flex;
	justify-content : space-between;
}

.info h4, h5 {
	margin : 28px 0 0 0;
}

.comming-soon {
	color : var(--color-gray500);
}

#notice {
	display : flex;
	width : 476px;
	justify-content : space-between;
	margin : 40px 0 0 0;
}

button {
   width : 120px;
   height : 45px;
   background-color : var(--color-gray100);
   color : var(--color-primary);
   border-radius : 3px;
   cursor : pointer;
   border : solid 1.5px var(--color-primary);
   font-family: var(--font-family-Pretendard-Regular);
   font-size : var(--font-size-h5);
   font-weight : var(--font-weight-semibold);
}

#auction-info2 {
	border-bottom : solid 1px #c0c5c7;
	width : 480px;
	padding : 0 0 28px 0;
}

.info h2 {
	margin : 18px 0 0 0;
}

.info2 {
	display : flex;
	justify-content : space-between;
}

.info2 h3 {
	margin : 8px 0 0 0;
	font-size : 21px;
	font-weight : bold;
}

.info2.first h3 {
	margin : 12px 0 0 0;
	color : var(--color-gray900);
}

.info2.second h3 {
	color : var(--color-primary);
}

#button-wrapper {
	margin : 26px 0 200px 0;
	display : flex;
	gap : 60px;
}

.button {
	width : 120px;
	height : 45px;
	border-radius : 3px;
	cursor : pointer;
	border : solid 1.5px #ee3333;
}

.button p {
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-semibold)
}

.list {
	background-color : #fbfcfc;
	color : #ee3333;
}

.auto-bidding, .bidding {
	background-color : #ee3333;
	color : #fbfcfc;
}

#auction-list {
   height : 269px;
   margin : 20px 0 38px 0;
}

#auction-ing {
	border-bottom : solid 1px var(--color-gray500);
	width : 1920px;
	display : flex;
	justify-content : center; 
}

#auction-ing-title {
	margin : 0 0 10px 0;
	width : 1160px;
}

.art-list {
   width : 200px;
   height : 200px;
   background-color : var(--color-gray500);
   display : flex;
   align-items : center;
   justify-content : center;
   margin : 0 0 38px 0;
}

#art-wrapper {
	display : flex;
   	align-items : center;
   	justify-content : center;
	gap : 120px;
	margin : 38px 0 ;
}


