/* 경매 결제 */
@charset "UTF-8";

body {
	width : 100%;
	height : 100%;
	background-color: #fbfcfc;
}

#wrapper {
	display : flex; 
	flex-direction : column;
	align-items: center; 
    justify-content: center;
}

#title-wrapper h2 {
	margin : 86px 0 0 0;
}

#payment-form {
	display : flex;
	gap : 108px;
	margin : 70px 0 0 0;
}

#img-wrapper {
	display : flex;
	justify-content : center;
	align-items : center;
	width : 560px;
	height : 560px;
	background-color : #d9d9d9;
}

#auction-img {
	width : 420px;
	height : 420px;
	background-color : #c0c5c7;
	display : flex;
	justify-content : center;
	align-items : center;
}

#success-price {
	margin : 39px 0 50px 0;
}

#price {
	display : flex;
}

#price span {
	margin : 0 4px;
}

.auto-list {
	display : flex;
	width : 480px;
	margin : 0 0 50px 0;
	border-bottom : solid 1px var(--color-gray900);
	padding : 0 0 7px 0;
}

.list {
	display : flex;
	width : 480px;
/* 	margin : 0 0 50px 0;  */
	border-bottom : solid 1px var(--color-gray900);
	padding : 0 0 7px 0;
}

#list-wrapper {
	margin : 0 0 50px 0;
}


.list2 {
	display : flex;
	width : 480px;
	margin : 0 0 20px 0;
	width : 480px;
	border-bottom : solid 1px var(--color-gray900);
	padding : 0 0 7px 0;
} 


.type {
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-semibold);
}

.star {
	color : var(--color-primary);
	font-weight : var(--font-weight-semibold);
}


/* #address-wrapper {
	display : flex;
 	width : 480px; 
} */
 
.auto-list h5 {
	margin : 0 0 0 67px;
}

#address-button {
	padding : 0 0 4px 0;
}


#search-address {
	font-family: var(--font-family-Pretendard-Regular);
	width : 125px;
	height : 35px;
	background-color : var(--color-primary);
	border : solid 1.2px var(--color-primary);
	border-radius : 2px;
	color : var(--color-gray100);
	font-size : var(--font-size-h7);
	font-weight : var(--font-weight-regular);
}

input {
	background-color : var(--color-gray100);
	border : none;
	outline : none;
	font-family: var(--font-family-Pretendard-Regular);
}

input::placeholder {
	font-size : var(--font-size-h7);
}

#address {
	margin : 0 0 0 36px;
}

#phone {
	margin : 0 0 0 36px;
}

#email {
	margin : 0 0 0 50px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label{
	display: flex; 
	align-items : center;
	width: 335px;
	height: 20px;
	background: url('../../images/auction/checked1.png') no-repeat 0 0px / contain;
	 cursor: pointer;
}

input[type='checkbox']:checked+label{
	background: url('../../images/auction/checked2.png') no-repeat 0 0px / contain;
}

.check-label-span{
	font-size: var(--font-size-h7);
	color : var(--color-gray500);
  	vertical-align: middle;
  	margin-left: 25px;
 	width: 300px;
 }
 
.checkbox-label:last-child {
	margin : 12px 0 0 0;
}

/* 버튼 - 비활성화 */
#payment-button {
	width : 190px;
	height : 50px;
	background-color : var(--color-gray500);
	border : solid 1.5px var(--color-gray500);
	border-radius : 3px;
	margin : 32px 0 0 650px;
	color : var(--color-gray100);
	font-size : var(--font-size-h5);
	font-weight : var(--font-weight-bold);
	font-family: var(--font-family-Pretendard-Regular);
	
}

/* 버튼 - 활성화 */
#payment-button.active {
    background-color: var(--color-primary);
    border : solid 1.5px var(--color-primary);
    cursor: pointer;
}

#auction-list {
   height : 269px;
   margin : 20px 0 38px 0;
}

#auction-ing {
	border-bottom : solid 1px var(--color-gray500);
	width : 1920px;
	display : flex;
	justify-content : center; 
}

#auction-ing-title {
	margin : 0 0 10px 0;
	width : 1160px;
}

.art-list {
   width : 200px;
   height : 200px;
   background-color : var(--color-gray500);
   display : flex;
   align-items : center;
   justify-content : center;
   margin : 0 0 38px 0;
}

#art-wrapper {
	display : flex;
   	align-items : center;
   	justify-content : center;
	gap : 120px;
	margin : 38px 0 ;
}

#address-error, #phone-error, #email-error {
	display : none;
	font-size : var(--font-size-h9);
	font-weight : var(--font-weight-light);
}


p.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    visibility: hidden; /* 기본적으로 안 보이지만 자리 차지 */
    height: 14px; /* 메시지가 없을 때도 일정 높이 유지 */
}
p.error-message.active {
    visibility: visible; /* 오류 발생 시 보이게 설정 */
}














